# 忽略.env文件和其他包含敏感信息的配置文件
.env
.env.lite
.cursor/
# 但不忽略示例文件
!.env.example
*.pem
*_key
*_secret
*.key
*.crt

# IDE和编辑器文件
.idea/
.vscode/
*.swp
*.swo

# 构建和依赖文件
node_modules/
/dist/
/build/
*.log

# 临时文件
tmp/
temp/
logs/
*.pid

WeKnora
WeKnora-lite
/models/
test/data/mswag.txt
data/files/
data/weknora.db
data/weknora.db-wal
data/weknora.db-shm

web/

.venv/
**/__pycache__
.python-version

### macOS
# General
.DS_Store
/scripts/scale_dev_jobs.sh
server
frontend/.vite